
<nav>
    <ul>
        <li><a href="~/Home/Index/">Home</a></li>
        <li><a href="#0">About</a></li>
        <li><a href="~/Home/ContactUs">Contact Us</a></li>
        <li><a href="~/Home/SearchAPI">Hotel Search</a></li>
    </ul>
</nav>