.profile {
    padding: 10px;
    margin: auto;
    background-color: whitesmoke;
}

.break {
    margin: auto;
    border-bottom: solid;
    margin-bottom: 20px;
}

.booking-info {
    padding: 30px;
    margin: auto;
    background-color: whitesmoke;
}

.title {
    height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-pic {
    height: 300px;
    margin: 30px 10px 10px 30px;
    background-image: url("/image/profile_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-div {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 10px 30px;
    background-color: gray;
    color: white !important;
}


.divider {
    height: 60px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: inset;
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
}

.divider-p {
    text-align: justify;
    font-size: 30px;
}

.booking-details {
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 30px;
}

.details {
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

.lable {
    margin-bottom: 5px;
}

.data {
    text-align: start;
    font-weight: bold;
}

.print_btn {
    margin-top: 130px;
}

.password{
    height: 300px;
    margin: auto;
}

.input-group{
    margin:auto;
}

.booking{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: whitesmoke;
}

.search{
    margin: auto ;
    margin-top: 110px;
    padding: 10px;
    
}

